$color-fondo: rgb(250, 247, 198);
$color-nav: rgba(194, 135, 7, 0.815);
$color-hover: rgba(179, 124, 5, 0.616);
$color-texto-claro: white;
$color-miel: #a67428;
$sombra: 0 2px 8px black;
$color-texto: #000000;